/* Media query for mobile */
@media screen and (max-width: 666px) {
  .services {
    background-color: #228b22;
    color: white;
    text-align: center;
    padding: 0.5em;
  }

  .servicesContainer h1 {
    font-weight: 600;
    padding-bottom: 1em;
    font-size: 35px;
    text-decoration: underline;
  }

  .servicesContainer p {
    font-size: 18px;
  }

  .services img {
    max-width: 124px;
    max-height: 124px;
    border-radius: 50%;
    text-align: center;
  }

  .servicesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .servicesContainer > :first-child {
    grid-column: span 2;
  }

  .servicesBox {
    flex-basis: calc(25% - 5px); /* 25% minus the gap (10px) between items */
    margin-bottom: 10px;
    text-align: center;
  }

  .imagestozoom {
    transition: transform 0.3s; /* Animation */
  }

  .imagestozoom:hover {
    transform: scale(1.2);
  }
}

/* Media query for tablet */
@media screen and (min-width: 667px) and (max-width: 1023px) {
  .services {
    background-color: #228b22;
    color: white;
    max-width: 100%;
    text-align: center;
    padding: 4em;
  }

  .services h1 {
    font-weight: 600;
    padding-bottom: 1em;
    text-decoration: underline;
  }

  .services img {
    max-width: 164px;
    max-height: 164px;
    border-radius: 50%;
    text-align: center;
  }

  .servicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5rem;
  }

  .servicesBox {
    flex-basis: calc(25% - 5px); /* 25% minus the gap (10px) between items */
    margin-bottom: 10px;
    text-align: center;
  }

  .servicesBox:first-child {
    flex-basis: 100%;
  }

  .imagestozoom {
    transition: transform 0.3s; /* Animation */
  }

  .imagestozoom:hover {
    transform: scale(1.2);
  }
}

/* media query for desktop */
@media screen and (min-width: 1024px) {
  .services {
    background-color: #228b22;
    color: white;
    max-width: 100%;
    text-align: center;
    padding: 4em;
  }

  .services h1 {
    font-weight: 600;
    padding-bottom: 1em;
    text-decoration: underline;
  }

  .services img {
    max-width: 164px;
    max-height: 164px;
    border-radius: 50%;
    text-align: center;
  }

  .servicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5rem;
  }

  .servicesBox {
    flex-basis: calc(25% - 5px); /* 25% minus the gap (10px) between items */
    margin-bottom: 10px;
    text-align: center;
  }

  .servicesBox:first-child {
    flex-basis: 100%;
  }

  .imagestozoom {
    transition: transform 0.3s; /* Animation */
  }

  .imagestozoom:hover {
    transform: scale(1.2);
  }
}
