/* Media query for mobile */
@media screen and (max-width: 666px) {
  .References {
    background-color: #ff8c00;
    color: white;
    text-align: center;
    padding-top: 1em;
    border-bottom: 2px solid #ff8c00;
  }

  .References h1 {
    font-weight: 600;
    font-size: 35px;
    text-decoration: underline;
  }

  .References p {
    font-size: 18px;
  }

  .RefContainer {
    align-items: center;
  }

  .RefContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding: 2em 3em;
  }

  .RefBox {
    text-align: center;
    padding: 1em;
    margin: 1em;
    background-color: #ffae4c;
    border-radius: 20px;
  }

  .heading {
    background-color: #ff8c00;
  }

  .quoteAuthor {
    font-size: 14px;
  }
}

/* Media query for tablet */
@media screen and (min-width: 667px) and (max-width: 1023px) {
  .References {
    background-color: #ff8c00;
    color: white;
    max-width: 100%;
    text-align: center;
    padding-top: 1em;
    border-bottom: 2px solid #ff8c00;
  }

  .References h1 {
    font-weight: 600;
    text-decoration: underline;
  }

  .RefContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding: 2em 6em;
  }

  .RefBox {
    text-align: center;
    padding: 1em;
    margin: 1em;
    background-color: #ffae4c;
    border-radius: 20px;
  }

  .heading {
    background-color: #ff8c00;
  }

  .quoteAuthor {
    font-size: 14px;
  }
}

/* media query for desktop */
@media screen and (min-width: 1024px) {
  .References {
    background-color: #ff8c00;
    color: white;
    max-width: 100%;
    text-align: center;
    padding-top: 1em;
    border-bottom: 2px solid #ff8c00;
  }

  .References h1 {
    font-weight: 600;
    padding-bottom: 1em;
    text-decoration: underline;
  }

  .References img {
    max-width: 164px;
    max-height: 164px;
    border-radius: 50%;
    text-align: center;
  }

  .RefContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 2em 6em;
  }

  .RefBox {
    text-align: center;
    padding: 1em;
    margin: 0 1em;
    background-color: #ffae4c;
    border-radius: 20px;
  }

  .RefBox:first-child {
    grid-column: span 3;
  }

  .heading {
    background-color: #ff8c00;
  }

  .quoteAuthor {
    font-size: 14px;
  }
}
