/* Media query for mobile */
@media screen and (max-width: 666px) {
  .about {
    background-color: #ff8c00;
    color: white;
    text-align: center;
    padding-top: 1em;
    border-bottom: 2px solid #ff8c00;
  }

  .about h1 {
    font-weight: 600;
    font-size: 35px;
  }

  .about p {
    font-size: 18px;
  }

  .aboutContainer {
    align-items: center;
  }

  .aboutContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding: 2em 3em;
  }

  .profilephoto img {
    max-width: 164px;
    max-height: 164px;
    border-radius: 50%;
    text-align: center;
  }

  .aboutText {
    text-align: left;
  }

  .bee {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    text-align: center;
    gap: 3px;
    display: flex;
    margin: -0.4em 0.6em;
  }

  .centerBee {
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
  }
}

/* Media query for tablet */
@media screen and (min-width: 667px) and (max-width: 1023px) {
  .about {
    background-color: #ff8c00;
    color: white;
    max-width: 100%;
    text-align: center;
    padding-top: 1em;
    border-bottom: 2px solid #ff8c00;
  }

  .about h1 {
    font-weight: 600;
  }

  .aboutContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding: 2em 5em;
  }

  .profilephoto img {
    max-width: 164px;
    max-height: 164px;
    border-radius: 50%;
    text-align: center;
  }

  .aboutText {
    text-align: left;
  }

  .bee {
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
    text-align: center;
    gap: 7px;
    font-size: 20px;
    width: 164px;
    height: 48px;
    display: flex;
    margin: -0.4em 0.6em;
  }

  .centerBee {
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
  }
}

/* media query for desktop */
@media screen and (min-width: 1024px) {
  .about {
    background-color: #ff8c00;
    color: white;
    max-width: 100%;
    text-align: center;
    padding-top: 0.5em;
    border-bottom: 2px solid #ff8c00;
  }

  .about h1 {
    font-weight: 600;
    padding-bottom: 1em;
  }

  .profilephoto img {
    max-width: 164px;
    max-height: 164px;
    border-radius: 50%;
    text-align: center;
  }

  .aboutContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2em 15em;
  }

  .aboutBox:first-child {
    grid-column: span 2;
  }

  .aboutText {
    text-align: left;
  }

  .bee {
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
    text-align: center;
    gap: 7px;
    font-size: 20px;
    width: 164px;
    height: 48px;
    display: flex;
    margin: -0.4em 0.6em;
  }

  .centerBee {
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
  }
}
