.services {
  background-color: #228b22;
  color: white;
  max-width: 100%;
  text-align: center;
  padding-top: 1em;
}

.services h1 {
  font-weight: 600;
}

.services img {
  max-width: 164px;
  max-height: 164px;
  border-radius: 50%;
  text-align: center;
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding: 0 6em;
}

.servicesBox:first-child {
  grid-column: span 4;
}

.servicesBox {
  text-align: center;
}

.aboutmeText {
  padding: 0 14em 2em 14em;
}
