.footerContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;

  padding: 3em 1em;
}

a {
  text-decoration: underline;
  color: #228b22;
  transition: transform 0.3s;
}

a:hover {
  transform: scale(1.2);
  color: #ff8c00;
}
