:root {
  /* font-family: "Fjalla One", sans-serif; */
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 2px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #228b22;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}
