:root {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 2px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #228b22;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}
